In [47]:
%reload_ext autoreload
%autoreload 2

In [48]:
import recommendations
import pandas as pd
from scipy.spatial import distance

In [3]:
recommendations.critics['Lisa Rose']['Lady in the Water']

2.5

In [4]:
recommendations.sim_distance(recommendations.critics,'Lisa Rose','Gene Seymour')

0.14814814814814814

In [60]:
recommendations.sim_pearson(recommendations.critics,'Mick LaSalle','Michael Phillips')

-0.2581988897471611

In [6]:
recommendations.sim_pearson2(recommendations.critics,'Lisa Rose','Gene Seymour')

0.39605901719066972

In [7]:
recommendations.topMatches(recommendations.critics,'Toby')

[(0.99124070716193036, 'Lisa Rose'),
 (0.92447345164190498, 'Mick LaSalle'),
 (0.89340514744156441, 'Claudia Puig'),
 (0.66284898035987017, 'Jack Matthews'),
 (0.38124642583151169, 'Gene Seymour')]

In [91]:
recommendations.getRecommendations(recommendations.critics,'Toby')
#recommendations.getRecommendations(recommendations.critics,'Toby', similarity=recommendations.sim_distance)

[(3.3477895267131017, 'The Night Listener'),
 (2.8325499182641614, 'Lady in the Water'),
 (2.5309807037655645, 'Just My Luck')]

In [87]:
movies=recommendations.transformPrefs(recommendations.critics)
recommendations.topMatches(movies,'Superman Returns')

[(0.65795169495976902, 'You, Me and Dupree'),
 (0.48795003647426655, 'Lady in the Water'),
 (0.11180339887498948, 'Snakes on a Plane'),
 (-0.17984719479905423, 'The Night Listener'),
 (-0.42289003161103106, 'Just My Luck')]

In [88]:
recommendations.getRecommendations(movies,'Just My Luck')

[(2.2222222222222223, 'Michael Phillips'),
 (1.6666666666666667, 'Jack Matthews')]

Use pandas to do all the above things

In [11]:
df_critics=pd.DataFrame.from_dict(recommendations.critics)

In [12]:
df_critics

,Claudia Puig,Gene Seymour,Jack Matthews,Lisa Rose,Michael Phillips,Mick LaSalle,Toby
Just My Luck,3.0,1.5,NaN,3.0,NaN,2.0,NaN
Lady in the Water,NaN,3.0,3.0,2.5,2.5,3.0,NaN
Snakes on a Plane,3.5,3.5,4.0,3.5,3.0,4.0,4.5
Superman Returns,4.0,5.0,5.0,3.5,3.5,3.0,4.0
The Night Listener,4.5,3.0,3.0,3.0,4.0,3.0,NaN
"You, Me and Dupree",2.5,3.5,3.5,2.5,NaN,2.0,1.0

In [13]:
recommendations.pd_sim_distance( df_critics, 'Lisa Rose', 'Gene Seymour')

0.14814814814814814

In [58]:
# Calculating the pearson coeff
recommendations.pd_sim_pearson( df_critics, 'Gene Seymour','Michael Phillips')

0.20459830184114206

In [15]:
recommendations.pd_top_matches(df_critics,'Toby', n =3)

[(0.99124070716193036, 'Lisa Rose'),
 (0.92447345164190498, 'Mick LaSalle'),
 (0.89340514744156441, 'Claudia Puig')]

In [80]:
recommendations.pd_getRecommendations(df_critics, 'Michael Phillips')

[('Just My Luck', 1.6091182193190874),
 ('You, Me and Dupree', 1.7439581918117357)]

In [90]:
recommendations.pd_getRecommendations(df_critics, 'Toby', similarity= recommendations.pd_sim_distance)

[(3.546527350952674, 'The Night Listener'),
 (2.727874403570879, 'Lady in the Water'),
 (2.5978975032851515, 'Just My Luck')]

In [18]:
df_movies=df_critics.transpose()

In [19]:
df_movies

,Just My Luck,Lady in the Water,Snakes on a Plane,Superman Returns,The Night Listener,"You, Me and Dupree"
Claudia Puig,3.0,NaN,3.5,4.0,4.5,2.5
Gene Seymour,1.5,3.0,3.5,5.0,3.0,3.5
Jack Matthews,NaN,3.0,4.0,5.0,3.0,3.5
Lisa Rose,3.0,2.5,3.5,3.5,3.0,2.5
Michael Phillips,NaN,2.5,3.0,3.5,4.0,NaN
Mick LaSalle,2.0,3.0,4.0,3.0,3.0,2.0
Toby,NaN,NaN,4.5,4.0,NaN,1.0

In [74]:
recommendations.pd_top_matches(df_movies,'Superman Returns')

[(0.65795169495976902, 'You, Me and Dupree'),
 (0.48795003647426655, 'Lady in the Water'),
 (0.11180339887498948, 'Snakes on a Plane'),
 (-0.17984719479905423, 'The Night Listener'),
 (-0.42289003161103106, 'Just My Luck')]

In [89]:
recommendations.pd_getRecommendations(df_movies,'Just My Luck')

[(4.0, 'Michael Phillips'), (3.0, 'Jack Matthews')]

In [93]:
recommendations.calculateSimilarItems(recommendations.critics)

{'Just My Luck': [(0.2222222222222222, 'Lady in the Water'),
  (0.18181818181818182, 'You, Me and Dupree'),
  (0.15384615384615385, 'The Night Listener'),
  (0.10526315789473684, 'Snakes on a Plane'),
  (0.06451612903225806, 'Superman Returns')],
 'Lady in the Water': [(0.4, 'You, Me and Dupree'),
  (0.2857142857142857, 'The Night Listener'),
  (0.2222222222222222, 'Snakes on a Plane'),
  (0.09090909090909091, 'Superman Returns'),
  (0, 'Just My Luck')],
 'Snakes on a Plane': [(0.2222222222222222, 'Lady in the Water'),
  (0.18181818181818182, 'The Night Listener'),
  (0.16666666666666666, 'Superman Returns'),
  (0.10526315789473684, 'Just My Luck'),
  (0.05128205128205128, 'You, Me and Dupree')],
 'Superman Returns': [(0.16666666666666666, 'Snakes on a Plane'),
  (0.10256410256410256, 'The Night Listener'),
  (0.09090909090909091, 'Lady in the Water'),
  (0.06451612903225806, 'Just My Luck'),
  (0.05333333333333334, 'You, Me and Dupree')],
 'The Night Listener': [(0.2857142857142857, 'Lady in the Water'),
  (0.18181818181818182, 'Snakes on a Plane'),
  (0.15384615384615385, 'Just My Luck'),
  (0.14814814814814814, 'You, Me and Dupree'),
  (0.10256410256410256, 'Superman Returns')],
 'You, Me and Dupree': [(0.4, 'Lady in the Water'),
  (0.18181818181818182, 'Just My Luck'),
  (0.14814814814814814, 'The Night Listener'),
  (0.05333333333333334, 'Superman Returns'),
  (0.05128205128205128, 'Snakes on a Plane')]}

In [114]:
# lets create the similarity matrix
# Looks so better 
df_item_sim=recommendations.pd_calculateSimilarItems(df_critics)

In [116]:
df_item_sim

,Just My Luck,Lady in the Water,Snakes on a Plane,Superman Returns,The Night Listener,"You, Me and Dupree"
Just My Luck,NaN,0.222222,0.105263,0.064516,0.153846,0.181818
Lady in the Water,0.222222,NaN,0.222222,0.090909,0.285714,0.400000
Snakes on a Plane,0.105263,0.222222,NaN,0.166667,0.181818,0.051282
Superman Returns,0.064516,0.090909,0.166667,NaN,0.102564,0.053333
The Night Listener,0.153846,0.285714,0.181818,0.102564,NaN,0.148148
"You, Me and Dupree",0.181818,0.400000,0.051282,0.053333,0.148148,NaN

In [148]:
for i in df_critics['Toby'][df_critics['Toby'].isnull()].index:
    ser = df_item_sim[i]*df_critics['Toby'][df_critics['Toby'].notnull()]
    ser1=df_critics['Toby'][df_critics['Toby'].notnull()]/df_critics['Toby'][df_critics['Toby'].notnull()]
    ser2 = df_item_sim[i] * ser1
    print(ser2.dropna().sum())

0.3515974687451767
0.7131313131313132
0.43253043253043255

In [22]:
#df = pd.read_csv('ml-100k/u.data', sep= '\t',header=None,names = ['user_id','item_id','rating','timestamp'])
#len(df)

In [ ]:
# df = pd.read_csv('ml-10M100K/ratings.dat' ,sep= '::' ,header=None, engine= 'python')
# df.head()